# Local binary folder
bin/
cli/windows/dwc/

# Python cache
__pycache__/
*.pyc

# Local settings
.vscode/
.idea/
dwc_presets.json
dwc_settings.json

# .NET build outputs
obj/
csharp/publish/
csharp/dist/

# Python packaging outputs
dist/
build/
build_pyi/
*.egg-info/
